<div id="how" class="docs-homepage-promo row-background-pair">
  <div class="header-headline">
    <h1 class="mat-h1">How we do it?</h1>
    <p>Joining together activists and tech makers 🤟</p>
  </div>
  <div class="docs-homepage-row">
    <app-home-card *ngFor="let info of information" [class]="'grid-' + info.grid" [title]="info.title"
      [content]="info.content">
    </app-home-card>
  </div>
  <div style="margin-top:14px;" class="grid-section-center">
    <a mat-raised-button color="accent" class="button" routerLink="team">Meet the team!</a>
  </div>
</div>