<div id="what" class="docs-homepage-promo row-background-even">
  <div class="svg-section-backgroung">
    <app-rocket-svg class="svg"></app-rocket-svg>
  </div>
  <div class="header-headline section-header-headline">
    <h1 class="mat-h1">What we do?</h1>
    <p>Digital products that gives the power to the people 💚</p>
  </div>
  <div class="docs-homepage-row">
    <app-home-card *ngFor="let info of information" [class]="'grid-' + info.grid" [title]="info.title"
      [content]="info.content">
    </app-home-card>
  </div>
  <div class="mt-12 align-center grid-section-center">
    <span class="grid-item" ngClass="mat-body-2">Check our beta products</span>
    <div class="grid mt-12">
      <div class="grid-item mr-12">
        <a mat-raised-button color="accent" class="button" href="https://neocratium-dev.firebaseapp.com/"
          target="_blank">Neocratium</a>
      </div>
      <div class="grid-item ml-12">
        <a mat-raised-button color="accent" class="button" href="https://techo-beta.vaki.co/" target="_blank">Vaki
          Sites</a>
      </div>
    </div>
  </div>
</div>