.app-team-card {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  max-height: 400px;
  min-width: 400px;
  padding: 1.5rem;
  color: white;
  border-radius: 16px;
  background: #17141d;
  box-shadow: 1rem 0 3rem #000;

  margin: 10px 10px;
  transition: 0.2s;
}

.app-team-card:hover {
  transform: translateY(-1rem);

  mat-card-title {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

@media (max-width: 1120px) {
  .app-team-card {
    min-width: 250px;
    margin: 10px 10px;
  }
}
