<header id="home" class="header-background">
  <div class="header-section">
    <div class="header-headline">

      <h1 class="mat-h1">Political-Tech Activism</h1>
      <h2>Commited to eliminate corruption and fix our democracys</h2>

      <h2 class="svg-text">🚀 MEETS THE SPACE 🚀</h2>

    </div>
    <div class="header-start">
      <a mat-raised-button color="accent" class="button" href="https://airtable.com/shrvNukOEICNxELNN"
        target="_blank">Want to volunteer? Sign up!</a>
    </div>
  </div>
  <app-rocket-svg class="rocket-svg"></app-rocket-svg>
</header>