<div id="why" class="docs-homepage-promo row-background-even">
  <div class="header-headline">
    <h1 class="mat-h1">Why we do it?</h1>
    <p>To fix the system 💪</p>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>We are tired of corruption</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Big money influencing our laws, and stupid political discourse. The system is a money
            making machine. The system is broken,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Democracy must be honest and efficient</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Our actual democracy is just a mechanism to let citizens feel iimportant but not because
            the power really cares about them.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Politicals have to work for citizens</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            With the current system the citizens are working hard to fund the system, that funds
            banks and big corporations. Big companies wants money, politicians want power, they are
            the perfect match to oprress citizens.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>