/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
$margin-promotion-sections: 60px;
$margin-promotion-sections-small: 15px;
$dark-background: #181818;
$light-text: #ffffff;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.full-height {
  height: 100%;
}
.bg-light {
  background-color: #f2f2f2;
}

.grid-top-left {
  grid-column: 1;
  grid-row: 1;
}

.grid-mid-right {
  grid-column: 2;
  grid-row: 2;
}

.grid-bot-left {
  grid-column: 1;
  grid-row: 3;
}
.header-background {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  //background-color: rgba(143, 35, 170, 0.8);
  background-color: $dark-background;
  min-height: 100vh;
}
.header-section {
  text-align: center;
  padding-top: $margin-promotion-sections;
  color: $light-text;
  margin-left: 50px;
}

.svg-section-backgroung{
  position: absolute;
  top: 0;
  left: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  z-index: -1;
  opacity: 0.9;

  svg {
    transform: scale(70%);
  }
}
.rocket-svg {
  svg {
    height: 400px;
    margin-top: 20p;
  }
}
.svg-text {
  display: block;
  justify-self: flex-start;
  align-self: center;
  padding-right: 40px;
}

.header-headline {
  text-align: center;
  margin-top: 50px;

  h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }

  .svg-text {
    font-size: 30px;
  }
}

.row-background-even {
  background-color: rgba(255, 255, 255, 0.8);
}

.row-background-pair {
  //background-color: rgba(143, 35, 170, 0.2);
  color: $light-text;
  background-color: $dark-background;
}

.info-card {
  max-width: 320px;
  height: auto;
  margin-left: 12px;
  margin-right: 12px;
}

.team-card {
  max-width: 475px;
  height: 450px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

.grid-section-center {
  grid-column: -3 / -1;
  justify-self: center;
}
.docs-homepage-promo {
  align-items: center;
  display: grid;
  overflow-y: scroll;
  position: relative;

  scroll-behavior: smooth;
  grid-template-columns: 1fr 2fr;
  flex-direction: column;
  padding: 16px;
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }
}

.docs-homepage-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.docs-homepage-reverse-row {
  flex-direction: row-reverse;
}

.docs-header-start,
.docs-homepage-bottom-start {
  text-align: center;
}

.docs-homepage-promo-img {
  text-align: center;
}

.docs-homepage-promo-desc {
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex-grow: 1;
  min-width: 25%;
}

.mt-12 {
  margin-top: 12px;
}
.mt-24 {
  margin-top: 24px;
}
.mr-12 {
  margin-right: 12px;
}
.ml-12 {
  margin-left: 12px;
}
.align-center {
  align-content: center;
  text-align: center;
}
.card-content {
  //height: 250px;
  overflow: hidden;
}
.card-content-max {
  height: auto;
  overflow: hidden;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 1120px) {
  .section-header-headline {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 100px 1fr;

    h1 {
      margin: 0;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      height: 100%;
      color: #fff;
      background: #000;
      text-align: center;
      display: grid;
      align-items: center;
      font-weight: bold;
    }

    p {
      align-self: center;
      font-size: 30px;
      font-weight: bold;
    }
  }
}
/**
  * Rules for when the device is detected to be a small screen.
  */
@media (max-width: 1120px) {
  .docs-header-section {
    padding-top: $margin-promotion-sections-small;
  }

  .docs-homepage-row {
    flex-direction: column;
    display: flex;
  }

  .docs-homepage-promo {
    display: flex;
    justify-content: center;
  }
  .home-card {
    margin: 5px 5px;
  }
  .info-card {
    width: 95%;
    height: auto;
    margin-top: 12px;
  }
  .team-card {
    width: 95%;
    height: auto;
    margin-top: 12px;
  }

  .header-section {
    padding: 0;
    margin-bottom: 10px;
  }

  .header-background {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    height: 100vh;
  }
  .header-headline {
    h1 {
      font-size: 30px;
      margin-right: 40px;
    }

    h2 {
      font-size: 14px;
      margin-right: 40px;
    }
    .svg-text {
      font-size: 25px;
      justify-self: unset;
      margin: 10px auto;
    }
  }
  .header-start {
    margin-right: 40px;
  }
}

@media (max-width: 800px) {
  .svg-section-backgroung {
    display: none;
  }
}
